{% include './partials/header.html' %}
<h1>This is admin route</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Admin</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for user in user_list%}
    <tr>
      <th scope="row">{{user.id}}</th>
      <td>{{user.user_name}}</td>
      <td>{{user.user_email}}</td>
      <td>{{user.user_phone}}</td>
      <td>{{user.user_address}}</td>
      <td>{{user.is_admin}}</td>
      <td><a href="/admin?user_id={{user.id}}">Update</a></td>
      <td>
        <form
          action="/admin?user_id={{user.id}}&delete=true"
          method="PUT"
          id="delete-form"
        >
          <button class="btn btn-danger" type="submit" form="delete-form">
            DELETE
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include './partials/footer.html' %}
