<form method="POST" action="/register">
  <label for="username">Username: </label>
  <input type="text" name="user_name" id="username" />
  <br />
  <label for="useremail">Email: </label>
  <input type="email" name="user_email" id="useremail" />
  <br />
  <label for="password">Password: </label>
  <input type="password" name="user_password" id="password" />
  <br />
  <label for="userphone">Phone: </label>
  <input type="text" name="user_phone" id="userphone" />
  <br />
  <label for="address">Address: </label>
  <input type="text" name="user_address" id="address" />

  <button type="submit">SignUp</button>
</form>
<a href="/login">Login</a>
<a href="/register">Register</a>
